In [1]:
import sqlite3
from cards import deck
import itertools
import numpy as np
from sqlconnection import DBManager

conn = sqlite3.connect('sqlite3 texas_holdem.db')

query= """CREATE TABLE hands(
            player_0_card_1_suit,
            player_0_card_1_name,
            player_0_card_2_suit,
            player_0_card_2_name,
            flop_card1_suit,
            flop_card1_name,
            flop_card2_suit,
            flop_card2_name,
            flop_card3_suit,
            flop_card3_name,
            turn_card_suit,
            turn_card_name,
            river_card_suit,
            river_card_name,
            win_probabilty);
        """

query = "PRAGMA table_info(hands);"

conn.execute(query).fetchall()

In [2]:
hand = [(0, 1), (0, 13), None, None, None, None, None]

In [3]:
conn = DBManager('sqlite3 texas_holdem.db')

[]

In [5]:
conn.query('select * from hands')

[]

In [6]:
conn.showColumnName()

player_0_card_1_suit
player_0_card_1_name
player_0_card_2_suit
player_0_card_2_name
flop_card1_suit
flop_card1_name
flop_card2_suit
flop_card2_name
flop_card3_suit
flop_card3_name
turn_card_suit
turn_card_name
river_card_suit
river_card_name
win_probabilty

['player_0_card_1_suit',
 'player_0_card_1_name',
 'player_0_card_2_suit',
 'player_0_card_2_name',
 'flop_card1_suit',
 'flop_card1_name',
 'flop_card2_suit',
 'flop_card2_name',
 'flop_card3_suit',
 'flop_card3_name',
 'turn_card_suit',
 'turn_card_name',
 'river_card_suit',
 'river_card_name',
 'win_probabilty']

In [7]:
conn.insertHandScenario(hand)
conn.showAll()

[(0,
  1,
  0,
  13,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.2313)]

In [8]:
len(conn.showAll()[0])

15

In [9]:
query = []
for i in hand:
    if i == None:
        query.append(None)
        query.append(None)
    else:
        query.append(i[0])
        query.append(i[1])
        
columns = conn.showColumnName()

player_0_card_1_suit
player_0_card_1_name
player_0_card_2_suit
player_0_card_2_name
flop_card1_suit
flop_card1_name
flop_card2_suit
flop_card2_name
flop_card3_suit
flop_card3_name
turn_card_suit
turn_card_name
river_card_suit
river_card_name
win_probabilty

In [10]:
str(query)

'[0, 1, 0, 13, None, None, None, None, None, None, None, None, None, None]'

In [11]:
pull = 'SELECT win_probabilty FROM hands WHERE '
for i, j in zip(columns, query):
    if j == None:
        pull += f" {i} is NULL AND"
    else:
        pull += f" {i} = {j} AND"
    
pull= pull[:-4]

In [12]:
pull

'SELECT win_probabilty FROM hands WHERE  player_0_card_1_suit = 0 AND player_0_card_1_name = 1 AND player_0_card_2_suit = 0 AND player_0_card_2_name = 13 AND flop_card1_suit is NULL AND flop_card1_name is NULL AND flop_card2_suit is NULL AND flop_card2_name is NULL AND flop_card3_suit is NULL AND flop_card3_name is NULL AND turn_card_suit is NULL AND turn_card_name is NULL AND river_card_suit is NULL AND river_card_name is NULL'

In [13]:
conn.query(pull)

[(0.2313,)]

In [14]:
query = 'delete FROM hands WHERE  player_0_card_1_suit = 0 AND player_0_card_1_name = 1 AND player_0_card_2_suit = 0 AND player_0_card_2_name = 13 AND flop_card1_suit is NULL AND flop_card1_name is NULL AND flop_card2_suit is NULL AND flop_card2_name is NULL AND flop_card3_suit is NULL AND flop_card3_name is NULL AND turn_card_suit is NULL AND turn_card_name is NULL AND river_card_suit is NULL AND river_card_name is NULL'

In [15]:
conn.query(query)

[]

In [16]:
conn.showAll()

[]