In [1]:
from texas import TexasHoldThem, deck
from cards import high_card_order, hand_rank, suits
import seaborn as sns
import itertools
from sqlconnection import DBManager
import numpy as np

In [2]:
def makingSimulation(hand, simulations = 10):
    """
    
    """
    return (sum([TexasHoldThem(10).win_loss(hand) for i in range(simulations)])/ simulations)/ (1/10)

def samplingSimulation(hand, samples = 1000):
    """
    """
    return round(sum([makingSimulation(hand) for i in range(samples)])/ samples, ndigits=1)

In [3]:
texas = TexasHoldThem(10)

In [6]:
texas.samplingSimulation([(0, 2), (0, 3)])

0.9

In [7]:
from cards import stringcode_card

In [12]:
' '.join([key for key in stringcode_card.keys()][:2])

'AH 2H'

In [13]:
conn = DBManager()

In [28]:
query = """
        ALTER TABLE hands RENAME TO _table1_old;
        """
conn.query(query)

[]

In [29]:
query = """
        CREATE TABLE hands (
        cards varchar(255)PRIMARY KEY,
        prob10 float(2,1));
        """

 conn.query(query)

[]

In [30]:
query = """
        INSERT INTO hands (cards, prob10)
        SELECT *
        FROM _table1_old;
        """
conn.query(query)

[]

In [32]:
conn.showColumnName()

['cards', 'prob10']

In [39]:
query = """
        DROP TABLE _table1_old;
        """
conn.query(query)

[]

In [ ]:
!git add . 
!git commit -m "added PRIMARY KEY (cards) to hands table in "