In [1]:
import sqlite3
from cards import deck
import itertools
import numpy as np
from sqlconnection import DBManager

conn = sqlite3.connect('sqlite3 texas_holdem.db')

query= """CREATE TABLE hands(
            player_0_card_1_suit,
            player_0_card_1_name,
            player_0_card_2_suit,
            player_0_card_2_name,
            flop_card1_suit,
            flop_card1_name,
            flop_card2_suit,
            flop_card2_name,
            flop_card3_suit,
            flop_card3_name,
            turn_card_suit,
            turn_card_name,
            river_card_suit,
            river_card_name,
            win_probabilty);
        """

query = "PRAGMA table_info(hands);"

conn.execute(query).fetchall()

In [2]:
hand = [(0, 1), (0, 13), None, None, None, None, None]

In [3]:
conn = DBManager('sqlite3 texas_holdem.db')

In [4]:
conn.showAll()

[]

In [5]:
conn.query('select * from hands')

[]

In [6]:
conn.showColumnName()

player_0_card_1_suit
player_0_card_1_name
player_0_card_2_suit
player_0_card_2_name
flop_card1_suit
flop_card1_name
flop_card2_suit
flop_card2_name
flop_card3_suit
flop_card3_name
turn_card_suit
turn_card_name
river_card_suit
river_card_name
win_probabilty

['player_0_card_1_suit',
 'player_0_card_1_name',
 'player_0_card_2_suit',
 'player_0_card_2_name',
 'flop_card1_suit',
 'flop_card1_name',
 'flop_card2_suit',
 'flop_card2_name',
 'flop_card3_suit',
 'flop_card3_name',
 'turn_card_suit',
 'turn_card_name',
 'river_card_suit',
 'river_card_name',
 'win_probabilty']

In [7]:
conn.insertHandScenario(hand)
conn.showAll()

INSERT INTO hands VALUES (0, 1, 0, 13, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0.2408);

[(0,
  1,
  0,
  13,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  None,
  0.2408)]

In [9]:
len(conn.showAll()[0])

15

In [20]:
query = []
for i in hand:
    if i == None:
        query.append('NULL')
        query.append('NULL')
    else:
        query.append(str(i[0]))
        query.append(str(i[1]))
        
columns = conn.showColumnName()

player_0_card_1_suit
player_0_card_1_name
player_0_card_2_suit
player_0_card_2_name
flop_card1_suit
flop_card1_name
flop_card2_suit
flop_card2_name
flop_card3_suit
flop_card3_name
turn_card_suit
turn_card_name
river_card_suit
river_card_name
win_probabilty

In [19]:
str(query)

"['0', '1', '0', '13', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL']"

In [24]:
pull = 'SELECT win_probabilty FROM hands WHERE'
for i, j in zip(columns, query):
    pull += f" ({i} = {j}) AND"
    
pull= pull[:-4]

In [25]:
pull

'SELECT win_probabilty FROM hands WHERE (player_0_card_1_suit = 0) AND (player_0_card_1_name = 1) AND (player_0_card_2_suit = 0) AND (player_0_card_2_name = 13) AND (flop_card1_suit = NULL) AND (flop_card1_name = NULL) AND (flop_card2_suit = NULL) AND (flop_card2_name = NULL) AND (flop_card3_suit = NULL) AND (flop_card3_name = NULL) AND (turn_card_suit = NULL) AND (turn_card_name = NULL) AND (river_card_suit = NULL) AND (river_card_name = NULL)'

In [29]:
"""SELECT win_probabilty FROM hands WHERE (player_0_card_1_suit = 0 AND player_0_card_1_name = 1 AND player_0_card_2_suit = 0 AND player_0_card_2_name = 13 AND flop_card1_suit = NULL AND flop_card1_name = NULL AND flop_card2_suit = NULL AND flop_card2_name = NULL AND flop_card3_suit = NULL AND flop_card3_name = NULL AND turn_card_suit = NULL AND turn_card_name = NULL AND river_card_suit = NULL AND river_card_name = NULL"

In [30]:
conn.query(pull)

OperationalError: incomplete input

In [31]:
pull

'SELECT * \n    FROM hands \n    WHERE (player_0_card_1_suit = 0 AND player_0_card_1_name = 1 \n    AND player_0_card_2_suit = 0 AND player_0_card_2_name = 13\n    AND flop_card1_suit = NULL AND flop_card1_name = NULL\n    AND flop_card2_suit = NULL AND flop_card2_name = NULL \n    AND flop_card3_suit = NULL AND flop_card3_name = NULL\n    AND turn_card_suit = NULL AND turn_card_name = NULL\n    AND river_card_suit = NULL AND river_card_name = NULL'